<div class="card widget">
    <div class="card-content">
        <div class="coupang-affiliate">
            <script src="https://ads-partners.coupang.com/g.js"></script>
            <script>
                new PartnersCoupang.G({
                    id: 1,
                    height: "100%",
                    width: "100%",
                    bordered: false
                });
            </script>
        </div>
    </div>
</div>
